body{
    background-color: rgb(36, 204, 162);
    text-align:center;
   }
   *{
       margin: 0;
       padding: 0;
       box-sizing: border-box;
   }
   
   .ingreso{
       width: 400px;
       background: #24303c;
       padding: 25px;
       margin: auto;
       margin-top: 40px;
       border-radius: 4px;
       font-family: "calibri";
       color: white;
   }
   
   .ingreso h4{
       font-size: 22px;
       margin-bottom: 10px;
   
   }
   
   .ingrese h1{
       font-size: 20px;
       margin-bottom: 15px;
   
   }
   
   .formulario{
       width: 100%;
       background: #24303c;
       padding: 5px;
       border-radius: 4px;
       margin-bottom: 16px;
       border: 1px solid #1f53c5;
       font-family: "calibri";
       font-size: 18px;
   
   }
   
   .ingreso .boton{
       width: 200px;
       background: #1f53c5;
       border: none;
       padding: 12px;
       color: white;
       margin:10px 0;
       font-size: 16px;
   }

.ingreso a{
    color: white;
}